 <!-- Radio Button -->
 <div class="form__item">
   <div class="form__label">Вы правша или левша?</div>
   <div class="options">
     <div class="options__item">
       <input type="radio" name="color" class="options__radio" id="radio-1" value="blue" checked>
       <label for="radio-1" class="options__label"><span>Правша</span></label>
     </div>
     <div class="options__item">
       <input type="radio" name="color" class="options__radio" id="radio-2" value="yellow">
       <label for="radio-2" class="options__label"><span>Левша</span></label>
     </div>
   </div>
 </div>
