<!-- Форма заявки -->
<div class="form form__calback">
  <form action="#" enctype="multipart/form-data" method="POST" class="form__container" id="my-form" novalidate>
    <!-- Head -->
    <div class="form__head">
      <h3 class="form__head_title">Оставьте заявку</h3>
      <p class="form__head_description">Укажите ваши данные и мы вам перезвоним!</p>
    </div>

    <!-- Имя -->
    <div class="form__item">
      <label for="formName" class="form__label">Имя:</label>
      <input type="text" name="name" class="form__input input-name" id="formName" placeholder="Укажите имя">
      <i class="form__icon ic-user-circle"></i>
    </div>

    <!-- Телефон -->
    <div class="form__item">
      <label for="formPhone" class="form__label">Телефон:<span class="input-required">*</span></label>
      <input type="tel" name="phone" class="form__input input-phone" id="formPhone" placeholder="Укажите телефон" required>
      <i class="form__icon ic-phone"></i>
    </div>

    <button type="submit" class="form__btn btn-reset btn btn__md">Отправить заявку</button>
    <!-- Соглашение с правилами -->
    <div class="form__item">
      <div class="checkbox">
        <input type="checkbox" name="agreement" class="checkbox__input" id="formAgreement_1" checked>
        <label for="formAgreement_1" class="checkbox__label">Я принимаю условия <a href="privacy-policy.html" target="_blank"
            class="checkbox__link">Политики конфиденциальности</a></label>
      </div>
    </div>
  </form>
</div>
<!-- Конец -->
