<!-- Tabs -->
<div class="tabs">
  <!-- tab кнопки -->
  <ul class="tabs__list">
    <li class="tabs__list_item active" data-tab="1">Таб-1</li>
    <li class="tabs__list_item" data-tab="2">Таб-2</li>
    <li class="tabs__list_item" data-tab="3">Таб-3</li>
  </ul>

  <!-- tab контент -->
  <div class="tabs__content">
    <div class="tabs__content_item active" data-tab="1">
      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
    </div>
    <div class="tabs__content_item" data-tab="2">
      <p>В стране гласных и согласных живут рыбные тексты.</p>
    </div>
    <div class="tabs__content_item" data-tab="3">
      <p>Cогласных живут рыбные тексты.</p>
    </div>
  </div>
</div>
