<!-- Кнопка вызова модального окна -->
<button type="button" class="btn-reset" data-custom-open="modal-text">Открыть модальное окно</button>

<div class="modal micromodal-slide modal-text" id="modal-text" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <!-- кнопка закрытия -->
      <button class="btn-reset modal__close" aria-label="Закрыть окно" data-micromodal-close><i
          class="ic-close"></i></button>

      <!-- заголовок модального окна -->
      <header class="modal__head">
        <h3 class="modal__head--title">Заголовок</h3>
      </header>

      <!-- контент модального окна -->
      <div class="modal__content">
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Над одна буквоград от всех рекламных коварный все его составитель щеке большого вдали! Последний языком путь раз. Моей жизни знаках вопрос.</p>
      </div>
    </div>
  </div>
</div>
