.privacy-info {
  padding: 48px 0;
  margin: 0 20px;
  &__container {
    max-width: 1024px;
    background: #fff;
    padding: 32px;
    box-shadow: $bxs--2;
    border-radius: 16px;
  }
  &__title {
    text-align: center;
    margin-bottom: 48px;
  }
  &__block {
    font-size: 16px;
    line-height: 170%;
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    div {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    h5 {
      font-size: 20px;
      margin-bottom: 16px;
    }

    .ol {
      .li {
        margin-left: 10px;
      }
    }

    strong {
      color: $color--title;
      font-weight: 600;
    }
  }
}

@media (max-width: 480px) {
  .privacy-info {
    padding: 0;
    margin: 0 auto;
  }
  .privacy-info__container {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .privacy-info__block h5 {
    font-size: 18px;
  }

  .privacy-info__title {
    margin-bottom: 24px;
    text-align: left;
  }
}
