// Настройка wrapper и container
$wrapper-max: 1920px !default;
$wrapper-min: 320px !default;

$container-maxWidth: 1530px;
$container-padding: 0 40px;

// Font Family
$font--default: "Lato", sans-serif;

// Font-weight
$font--300: 300;
$font--400: 400;
$font--500: 500;
$font--600: 600;
$font--700: 700;
$font--800: 800;

// Font Size
$font-size--h1: 56px;
$font-size--h2: 48px;
$font-size--h3: 42px;
$font-size--h4: 35px;
$font-size--h5: 24px;
$font-size--h6: 18px;
$font-size--body: 20px;

// line-height
$line-height--h1: 80px;
$line-height--h2: 64px;
$line-height--h3: 55px;
$line-height--h4: 45px;
$line-height--h5: 150%;
$line-height--h6: 160%;
$line-height--body: 160%;

$line-height--120: 120% !default;
$line-height--140: 140% !default;
$line-height--150: 150% !default;
$line-height--150: 160% !default;

// Colors

// Brend colors
$color--primary: #cf51ce;
$gradient--primary: linear-gradient(213.56deg, #ff00aa -24.02%, #8912de 88.53%);

// Text colors
$color--title: rgba(51, 26, 47, 1);
$color--body: rgba(51, 26, 47, 0.8);
$color--subtext: rgba(51, 26, 47, 0.5);
$color--dark: #331a2f;

// BG colors
$color--bg-light: #fafafa;

// System colors
$color--light: #fff;
$color--dark: #000;
$color--success: #388e3c;
$color--error: #d32f2f;
$color--warning: #ffa000;

// Box-Shadow
$bxs--1: 0px 2px 4px rgba(77, 83, 103, 0.08);
$bxs--2: 0px 4px 16px rgba(0, 0, 0, 0.04);
$bxs--3: 0px 16px 24px rgba(77, 83, 103, 0.08);
$bxs--4: 0px 24px 38px 3px rgba(117, 127, 136, 0.14),
  0px 9px 46px 8px rgba(117, 127, 136, 0.12),
  0px 11px 15px -7px rgba(117, 127, 136, 0.2);
