*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// Preloader
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $color--bg-light;
  z-index: 1001;
  &__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  &__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: $color--primary;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
    &:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: $color--bg-light;
  margin: 0;
  min-width: 320px;
  position: relative;
  color: $color--body;
  font-family: $font--default;
  font-size: $font-size--body;
  font-weight: $font--400;
  line-height: $line-height--body;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: $container-maxWidth;
  padding: $container-padding;
  margin: 0 auto !important;
}

// Настройка стилей текста
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font--default;
  color: $color--title;
  line-height: $line-height--120;
}

h1,
h2 {
  font-weight: $font--700;
}

h3,
h4,
h5,
h6 {
  font-weight: $font--600;
}

h1 {
  font-size: $font-size--h1;
  line-height: $line-height--h1;
  letter-spacing: -1px;
}

h2 {
  font-size: $font-size--h2;
  line-height: $line-height--h2;
}

h3 {
  font-size: $font-size--h3;
  line-height: $line-height--h3;
}

h4 {
  font-size: $font-size--h4;
  line-height: $line-height--h4;
}

h5 {
  font-size: $font-size--h5;
  line-height: $line-height--h5;
}

h6 {
  font-size: $font-size--h6;
  line-height: $line-height--h6;
}

// Base
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  @include trans-link;

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:visited {
    outline: none;
  }
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

a {
  color: $color--body;

  &:hover {
    color: $color--primary;
  }
}

p {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

mark {
  background: #fff2be;
}

// Colors text

.color-text {
  color: $color--body;
}

.color-title {
  color: $color--title;
}

.color-link {
  color: $color--primary;
}

.color-link {
  color: $color--primary;
}

// Align Text
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-page {
  background-color: $color--bg-light;
}

// Buttons
.btn {
  @include reset-btn;
  display: inline-block;
  min-height: 50px;
  line-height: 50px;
  padding: 0 32px;
  background: $color--primary;
  border-radius: 12px;
  color: $color--light;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transition: background 0.35s ease-in-out;

  &:hover {
    color: $color--light;
    text-decoration: none;
    background: rgba($color--primary, 0.8);
  }

  &__secondary {
    color: $color--body;
    background: transperant;
    border: 2px solid $color--primary;
  }

  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-right: 10px;
    position: relative;
    top: 3px;
  }
}

.text-primary {
  color: $color--primary;
}

.title {
  text-align: center;

  &__logo {
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 7px;
      background: $gradient--primary;
      border-radius: 100px;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }

  &__description {
    margin-top: 30px;
  }
}

section {
  padding-top: 140px;
}

.circle-bg {
  width: 762px;
  height: 762px;
  background: $gradient--primary;
  box-shadow: 20px 20px 0px rgba(207, 114, 211, 0.3);
  border-radius: 50%;
  position: absolute;
  opacity: 0.8;
  &_1 {
    top: -198px;
    left: -681px;
  }
  &_2 {
    top: 385px;
    right: -720px;
    box-shadow: -20px 20px 0px rgba(207, 114, 211, 0.3);
  }
}
