<!-- Accordion -->
<div class="accordion" id="accordion">
  <div class="accordion__item">
    <h4 class="accordion__item_head">Какой среди перечисленных законов не относится к газовым?</h4>
    <div class="accordion__item_content">
      <p>Внезапно, тщательные исследования конкурентов функционально разнесены на независимые элементы. Как
        принято считать, базовые сценарии поведения пользователей, вне зависимости от их уровня, должны быть
        ограничены исключительно образом мышления.</p>
    </div>
  </div>

  <div class="accordion__item">
    <h4 class="accordion__item_head">Какой среди перечисленных законов не относится к газовым?</h4>
    <div class="accordion__item_content">
      <p>Внезапно, тщательные исследования конкурентов функционально разнесены на независимые элементы. Как
        принято считать, базовые сценарии поведения пользователей, вне зависимости от их уровня, должны быть
        ограничены исключительно образом мышления.</p>
    </div>
  </div>

  <div class="accordion__item">
    <h4 class="accordion__item_head">Какой среди перечисленных законов не относится к газовым?
    </h4>
    <div class="accordion__item_content">
      <p>Внезапно, тщательные исследования конкурентов функционально разнесены на независимые элементы. Как
        принято считать, базовые сценарии поведения пользователей, вне зависимости от их уровня, должны быть
        ограничены исключительно образом мышления.</p>
    </div>
  </div>
</div>
<!-- End -->
