<!-- Slider -->
<div class="slider block">
  <!-- Slide -->
  <div class="block__item text-center">
    <img style="display: inline-block; margin-bottom: 24px" loading="lazy" src="https://placeimg.com/120/120/any"" class=" block__img"
      width="120" height="120" alt="">
    <div class="block__item_text">
      <h4>Название</h4>
      <p>Далеко-далеко за словесными горами в стране.</p>
    </div>
  </div>

  <!-- Slide -->
  <div class="block__item text-center">
    <img style="display: inline-block; margin-bottom: 24px" loading="lazy" src="https://placeimg.com/120/120/any"" class=" block__img"
      width="120" height="120" alt="">
    <div class="block__item_text">
      <h4>Название</h4>
      <p>Далеко-далеко за словесными горами в стране.</p>
    </div>
  </div>

  <!-- Slide -->
  <div class="block__item text-center">
    <img style="display: inline-block; margin-bottom: 24px" loading="lazy" src="https://placeimg.com/120/120/any"" class=" block__img"
      width="120" height="120" alt="">
    <div class="block__item_text">
      <h4>Название</h4>
      <p>Далеко-далеко за словесными горами в стране.</p>
    </div>
  </div>

  <!-- Slide -->
  <div class="block__item text-center">
    <img style="display: inline-block; margin-bottom: 24px" loading="lazy" src="https://placeimg.com/120/120/any"" class=" block__img"
      width="120" height="120" alt="">
    <div class="block__item_text">
      <h4>Название</h4>
      <p>Далеко-далеко за словесными горами в стране.</p>
    </div>
  </div>

  <!-- Slide -->
  <div class="block__item text-center">
    <img style="display: inline-block; margin-bottom: 24px" loading="lazy" src="https://placeimg.com/120/120/any"" class=" block__img"
      width="120" height="120" alt="">
    <div class="block__item_text">
      <h4>Название</h4>
      <p>Далеко-далеко за словесными горами в стране.</p>
    </div>
  </div>
</div>
